h3 {
  border-bottom: 1px solid black;
}
/* .row {
  display: flex;
  margin-bottom: 6px;
  align-items: center;
} */
.row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  gap: 10px;
}
.gender,
.checkbox {
  display: flex;
  flex-direction: column;
}

.captcha {
  margin-bottom: 5px;
}

.row > label {
  flex: 0 0 140px;
  font-weight: bold;
  color: #333;
  padding-top: 5px;
}
span {
  margin-right: 8px;
}
form {
  width: 600px;
  margin: 20px auto;
  background: #fff;
  border: 1px solid #999;
  padding: 15px;
}
button {
  padding: 5px 12px;
  border: 1px solid #666;
  background: #ddd;
  cursor: pointer;
}

.required {
  font-size: 11px;
  margin-top: 5px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
